
.chapter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h2, h3 {
    margin: 0;
}
li {
    font-size: 2rem;
    margin: 1rem 0;
}
.chapter_text {
    padding: 0 0 0 3rem;
    margin: 0;
    text-align: justify; 
}
.wrapper_small_chapters {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4rem;
}
.container_small_chapter {
    border: 1px solid black;
    padding: 2rem;
    text-align: center; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}
.container_small_chapter .chapter_text {
    padding: 0;
    text-align: center; 
}
.container_images {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
}
.wrapper_chapter_image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.chapter_image {
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
}
.desc_chapter_image {
    margin: 0;
    text-align: center;
}